<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="main_style.css" />
    <link rel="stylesheet" href="creating_style.css" />
    <link rel="stylesheet" href="article_snap.css" />

    <title>Blog Web</title>
  </head>
  <header>
    <div class="header">
      <h2><a href="/">Blogged</a></h2>
      <ul>
        <li><a href="/create">Create Blog</a></li>
        <li><a href="/browse">Browse Blogs</a></li>
      </ul>
    </div>
  </header>

