<%- include ("partials/header.ejs") %>
<div class="container">
  <h1>With Blogged, Blog It Out</h1>
  <div class="btns">
    <button><a href="/create">Create Blog</a></button>
    <button><a href="/browse">Browse</a></button>
  </div>
</div>
<%- include ("partials/footer.ejs") %>
